* {
  margin: 0;

  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-size: cover;
}
main {
  margin-top: 50px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  padding: 0;
  list-style: none;
  z-index: -1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/Nature-wallpapers-desktop-beautiful-widscreen-autumn-hd-wallpaper-1920x1080.jpg")
      no-repeat center center fixed;
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/632206.jpg") no-repeat center center fixed;
}
.cb-slideshow li:nth-child(2) span {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/632218.jpg") no-repeat center center fixed;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/138728.jpg") no-repeat center center fixed;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url("/images/632197.jpg");
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url("/images/632201.jpg");
  animation-delay: 24s;
}
